h1{
    width:100%;
    margin-bottom:0px;
    font-family: 'Jura';
    font-weight: 700;
    font-size: 128px;
    text-align: center;
    color:white
}
h2{
    width:100%;
    margin:0px;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color:white
}
h3{
    width:100%;
    margin: 75px 0px 0px 0px;
    font-family: 'Abel';
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.home-contents{
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/

/*changes size of home content*/
@media (max-width: 530px){
    h1{
        font-size: 64px;
        padding-top: 100px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 32px;
    }
}