@use "sass:math";
@import url('https://fonts.googleapis.com/css?family=Abel');

$carousel-width--mobile: 80%;

.info-contents{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.info-contents__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-contents__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.infos-contents__info__title{
    font-family: 'Abel';
    font-size: 64px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    color: #FFFFFF;
}

.infos-contents__info__subtitle{
    font-family: 'Abel';
    font-size: 30px;
    text-align: center;
    text-decoration-thickness: from-font;
    color: #FFFFFF;
}

.info-contents__info__description{
    font-family: 'Abel';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    animation: show-carousel .5s forwards;
}

.carousel__frame{
    touch-action: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $carousel-width--mobile;
    max-height: 60vh;
    background: #181818;
    border-radius: 15px;
    padding:20px 0px 20px 0px;
    box-shadow: inset 15px 15px 4px rgba(0, 0, 0, 0.25);
    animation: show-carousel .5s forwards;
}

.carousel__frame::-webkit-scrollbar{
    @extend .carousel__frame;
    display: none;
}


.carousel__image-frame{
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    padding:5px;
    border-radius: 15px;
    animation: show-carousel .5s forwards;
}   

.carousel__image{
    border-radius: 15px;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    animation: show-carousel .5s forwards;
}

.hidden{
    animation: hide-carousel .5s forwards;
}

.carousel__frame__arrow{
    color: #CCCCCC;
    font-size: large;
    position: sticky;
    z-index: 1000;
    top: 25vh;
    width: 0px;
    font-family: 'Abel';
    font-size: 50px
}

.carousel__frame__arrow--left{
    @extend .carousel__frame__arrow;
    left: 10px;
}
  
.carousel__frame__arrow--right{
    @extend .carousel__frame__arrow;  
    left: calc(100% - 45px) //temp value until logo is used
}

@keyframes hide-carousel {
    0%{
        opacity: 100%;
        max-height: 60vh;
        width: $carousel-width--mobile
    }
    100%{
        opacity: 0%;
        height: 0px;
        width: 0px;
    }
}

@keyframes show-carousel {
    0%{
        opacity: 0%;
        transform: scale(0%);
    }
    100%{
        opacity: 100%;
        transform: scale(100%);
        width: $carousel-width--mobile
    }
}





