@use "sass:list";

.physics {
    width: 80vw;
    height: 40vh;
}

.keyboard {
    width: 80vw;
    height: 40vh;
    background-color: #CE5D6C;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.keyboard-keys {
    position: relative;
    width: 90%;
    height: 80%;
    background-color: black;
}

$whiteKeyNumbers: 1, 3, 5, 6, 8, 10, 12, 13, 15, 17, 18, 20;

@for $i from 1 through list.length($whiteKeyNumbers) {

    $keyNumber : list.nth($whiteKeyNumbers, $i);

    .keyboard-keys__key-white:nth-child(#{$keyNumber}){
        position: absolute;
        height: 100%;
        width: 8.333%;
        left: calc(($i - 1 ) * 8.333% + ($i - 1) * 1px);
        background: white;
        border-bottom: 10px solid #E5E5E5;
    }
}

$blackKeyNumbers: 2, 4, 7, 9, 11, 14, 16, 19;
$blackKeyPosition: 1, 2, 4, 5, 6, 8, 9, 11;

@for $i from 1 through list.length($blackKeyNumbers) {

    $keyNumber : list.nth($blackKeyNumbers, $i);
    $keyPosition : list.nth($blackKeyPosition, $i);

    .keyboard-keys__key-black:nth-child(#{$keyNumber}){
        position: absolute;
        width: 5.303%;
        height: 60%;
        left: calc(($keyPosition * 8.333%) - 2.615% + ($keyPosition * 1px));
        background: black;
        z-index: 100;
        border-bottom: 10px solid #232323;
    }
}

.keyboard-keys__key-white:hover{
    @extend .keyboard-keys__key-white;
    box-shadow: 0px 5px 0 10px #E5E5E5 inset;
}

.keyboard-keys__key-black:hover{
    @extend .keyboard-keys__key-black;
    box-shadow: 0px 5px 0 5px #232323 inset; //box-shadow: 0 0 0 1px white inset;
}

.fun-formatting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}