
//I have no idea what is happening in the first 3 selectors and my js but it works 🤷‍♂️
%home-contents__name{
    width:100%;
    margin-bottom:0px;
    font-family: 'Jura';
    font-weight: 700;
    font-size: 128px;
    text-align: center;
    color:white;
}

.home-contents__name{
    @extend %home-contents__name;
    animation: name-title 1.5s ease-in-out;
}
.home-contents__name--loaded{
    @extend %home-contents__name;
    animation: name-title 1.5s ease-in-out;
}

.home-contents__subtitle{
    animation: content-fade-in 4s ease-in-out;
    width:100%;
    margin:0px;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color:white;
}
.home-contents__projects-link{
    animation: content-fade-in 4s ease-in-out;
    width:100%;
    margin: 75px 0px 0px 0px;
    font-family: 'Abel';
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.home-contents__projects-link:hover{
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);    
    transition: .3s;
}
.home-contents__for-you{
    position:absolute;
    bottom:10px;
    left:10px;
    margin:0px;
    padding:0px;
    animation: content-fade-in 4s ease-in-out;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 24px;
    color:white;
    opacity: 100%;
    transition: opacity .5s;
}

.home-contents{
    position:absolute;
    top:10%;
    width:100%;
    height:fit-content;
    justify-content: center;
    align-items: center;
}

.disappear{
    transition: .5s;
    opacity: 0%;
}

/*MEDIA QUERIES*/

/*changes size of home content*/
@media (max-width: 530px), (max-height: 625px){
    .home-contents__name{
        animation: name-title-mobile 1s ease-in-out;
        font-size: 64px;
    }
    .home-contents__name--loaded{
        font-size: 64px;
    }
    .home-contents__subtitle{
        animation: content-fade-in 4s ease-in-out;
        font-size: 32px;
    }
    .home-contents__projects-link{
        font-size: 32px;
    }
}

/* animation for title fade in */

@mixin name-title-styles{
    opacity: 0%;
    transform: scale(.8, .8) translateY(50px);
}

@keyframes name-title {
    0%{
        @include name-title-styles;
    }
    50%{
        @include name-title-styles;
    }
}

@mixin name-title-mobile-styles{
    opacity: 0%;
    transform: scale(.8, .8) translateY(48px);
}

@keyframes name-title-mobile {
    0%{
        @include name-title-mobile-styles;
    }
    50%{
        @include name-title-mobile-styles;
    }
}

/* fades in rest of content */
@keyframes content-fade-in {
    0%{
        opacity: 0%;
    }
    75%{
        opacity: 0%;
    }
}