@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Abel');
/* @import url('https://fonts.googleapis.com/css?family=Aldrich'); */

*{
    box-sizing: border-box;
}
html,body{
    height:1000%;
    width:100%;
    margin:0px;
    // gap:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.background {
    top:0px;
    position:fixed;
    z-index: -1; 
    width: 100%;
    height: 100%;
    background: linear-gradient(116.82deg, #686868 3.17%, #1E1E1E 100%);
    mix-blend-mode: normal;
}
.background-bars{
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1px;
}
.background-bars__bar{
    width: 8.33%;
    height:100%;
    background: rgba(0, 0, 0, 0.08);
}

.page{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
    //background-color: rgba(0, 255, 255, 0.053); //<-FOR TESTING
}
/* NAVBAR STYLING */

%navbar{
    position:fixed;
    top:0px;
    right:0px;
    z-index:1000;
    width:fit-content;
    display:flex;
    gap:20px;
    padding-top: 30px;
    padding-right:30px;
}

%navbar--mobile{
    @extend %navbar;
    flex-direction: column;
    align-items: end;
    padding-bottom: 10px;
    padding-left: 40px;
    border-radius: 5px;
    opacity: 95%;
    background-color: #181818;
}

.navbar{
    @extend %navbar;
}

.navbar--mobile{
    @extend %navbar--mobile;
    animation: open-background-navbar-mobile .5s;
    .navbar__item {
        animation: open-navbar-mobile .5s;
    }
}

.navbar--mobile--closing{
    @extend %navbar--mobile;
    animation: close-background-navbar-mobile .5s forwards;
    .navbar__item {
        animation: close-navbar-mobile .5s forwards;
    }
}

.logo{
    height:50px;
    width:50px;
}

.navbar__item{
    font-family:Jura;
    text-decoration-thickness: from-font;
    font-size:24px;
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .1s;
}

.navbar__item:hover, .logo:hover{
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.9);
    transform: translateX(2px) translateY(-3px);
}

%navbar__home-icon__styles{
    z-index:1000;
    font-family:Jura;
    font-size:64px;
    text-decoration: none;
    color:white;
}   
.navbar__home-icon{
    @extend %navbar__home-icon__styles;
    position:fixed;
    top:0px;
    left:0px;
    padding-left:30px;
    padding-top:12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar__home-icon__cursor{
    @extend %navbar__home-icon__styles;
    position:fixed;
    top:0px;
    left:165px;
    padding-left:30px;
    padding-top: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    opacity:0%;
}

.navbar__home-icon:hover + .navbar__home-icon__cursor, .navbar__home-icon__cursor:hover{
    animation: cursor-blink 1.06s steps(1) infinite;
}

.navbar__hamburger{
    display:none;
}

/* at max 900, navbar needs to compress */
@media (max-width:900px){
    .navbar .navbar__item{
        display:none
    }
    .navbar__hamburger{
        display:block;
        height:37px;
        width:50px;
    }
}

/*at max 350, icon needs to shrink*/
@media (max-width:350px){
    .navbar__home-icon{
        font-size:32px;
        padding-left: 25px;
        padding-top: 22px;
    }
    .navbar__home-icon__cursor{
        font-size:32px;
        left:81px;
        padding-top: 21.5px;
    }
}

@keyframes cursor-blink{
    0%{
        opacity:100%;
    }
    50%{
        opacity:0%;
    }
}

@keyframes open-navbar-mobile{
    0%{
        opacity:0%
    }
    100%{
        opacity:95%
    }
}

@keyframes open-background-navbar-mobile{
    0%{
        background-color: #00000000;
    }
    100%{
        background-color: #181818;
    }
}

@keyframes close-navbar-mobile{
    0%{
        opacity:95%;
        
    }
    100%{
        opacity:0%;
    }
}

/* this code shouldnt be necessary but it definitely works, its just gross as hell and I'll forget why its here in a week */
@keyframes close-background-navbar-mobile{
    0%{
        background-color: #181818;
        
    }
    100%{
        background-color: #00000000;
    }
}