@import url('https://fonts.googleapis.com/css?family=Jura');

.resume-text{
    font-family: 'Jura';
    font-size: 36px;
    color: white;
}

.resume-image{
    max-height: 80vh;
    max-width: 60vh;
    min-width: 45vh;
    padding: 0px 30px 0px 30px;
}

.resume-flex{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
}